Projeto-ESP32-MQTT-DHT22-Reles-WebServer-NodeRed-HomeAssistant/Node-Red Flows/Current Flows.json
[
    {
        "id": "8e600a1d9cc6877a",
        "type": "tab",
        "label": "ESP32 e Google Assistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13e2b7aeb791786d",
        "type": "debug",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "94d5e78081efbff1",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "50c566708019f05b",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "677f73033bfdea01",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "666fe101703abe94",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "fe0e8995374b95d4",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "2b3a5e6c865b5a25",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada Forte da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada Forte",
        "name": "Lâmpada Bancada Forte",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado",
        "onvalue": "1",
        "onvalueType": "str",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 110,
        "y": 20,
        "wires": [
            [
                "13e2b7aeb791786d",
                "fe0e8995374b95d4"
            ]
        ],
        "inputLabels": [
            "Ligado"
        ]
    },
    {
        "id": "645fe0a9ccf3ec8b",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada Fraca da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada Fraca",
        "name": "Lâmpada da Bancada Fraca",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "13e2b7aeb791786d",
                "677f73033bfdea01"
            ]
        ]
    },
    {
        "id": "7950712dd4c9cd16",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 4",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Interruptor 4",
        "name": "Interruptor 4",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 70,
        "y": 400,
        "wires": [
            [
                "13e2b7aeb791786d",
                "94d5e78081efbff1"
            ]
        ]
    },
    {
        "id": "d5d6febd84ac0471",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 3",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": false,
        "brightnessoverride": "",
        "roomhint": "Interruptor 3",
        "name": "Interruptor 3",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 70,
        "y": 280,
        "wires": [
            [
                "13e2b7aeb791786d",
                "50c566708019f05b"
            ]
        ]
    },
    {
        "id": "7370dfbd73b8395c",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 5",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Interruptor 5",
        "name": "Interruptor 5",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 70,
        "y": 540,
        "wires": [
            [
                "13e2b7aeb791786d",
                "666fe101703abe94"
            ]
        ]
    },
    {
        "id": "0f257e850b1b1272",
        "type": "mqtt-broker",
        "name": "MQTT Home Assistant",
        "broker": "192.168.15.40",
        "port": "1883",
        "clientid": "Node-Red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bf2335351d119ded",
        "type": "noraf-config",
        "name": "Nora",
        "group": "Casa",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Robson's House",
        "storeStateInContext": true,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    }
]