Projeto-ESP32-MQTT-DHT22-Reles-WebServer-NodeRed-HomeAssistant/Node-Red Flows/ESP32 e Google Assistant.json
[
    {
        "id": "8e600a1d9cc6877a",
        "type": "tab",
        "label": "ESP32 e Google Assistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13e2b7aeb791786d",
        "type": "debug",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "94d5e78081efbff1",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "50c566708019f05b",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "677f73033bfdea01",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "666fe101703abe94",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 560,
        "wires": []
    },
    {
        "id": "fe0e8995374b95d4",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "2b3a5e6c865b5a25",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada Forte da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada Forte",
        "name": "Lâmpada Bancada Forte",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando",
        "onvalue": "1",
        "onvalueType": "str",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "13e2b7aeb791786d",
                "fe0e8995374b95d4",
                "c4d2c16fd13a9478",
                "cf2bb914cd8a6e16"
            ]
        ],
        "inputLabels": [
            "Ligado"
        ]
    },
    {
        "id": "645fe0a9ccf3ec8b",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada Fraca da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada Fraca",
        "name": "Lâmpada da Bancada Fraca",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "13e2b7aeb791786d",
                "677f73033bfdea01",
                "997a0904eda1a8fc",
                "70b667d6dbd6671e"
            ]
        ]
    },
    {
        "id": "7950712dd4c9cd16",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Som Bluetooth",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Som Bluetooth",
        "name": "Som Bluetooth",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "13e2b7aeb791786d",
                "94d5e78081efbff1",
                "b38bf86e35f8652a",
                "4c2276eeb1420dcb"
            ]
        ]
    },
    {
        "id": "d5d6febd84ac0471",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Cooler",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": false,
        "brightnessoverride": "",
        "roomhint": "Interruptor 3",
        "name": "Cooler",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "13e2b7aeb791786d",
                "50c566708019f05b",
                "91b5a2cb55b54d08",
                "16801185c9d8e482"
            ]
        ]
    },
    {
        "id": "7370dfbd73b8395c",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada do Quarto",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Interruptor 5",
        "name": "Lâmpada do Quarto",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "13e2b7aeb791786d",
                "666fe101703abe94",
                "7991694f48021482",
                "c1b5ff30dbfa6cae"
            ]
        ]
    },
    {
        "id": "6d7c3e0aa89db469",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Luz Forte da Bancada",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "c4d2c16fd13a9478",
                "2b3a5e6c865b5a25"
            ]
        ]
    },
    {
        "id": "c4d2c16fd13a9478",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Lâmpada da Bancada Forte",
        "label": "Lâmpada da Bancada Forte",
        "tooltip": "",
        "group": "d092f2a1bbaf2ca8",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "#FFAAAA",
        "animate": true,
        "className": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "fe0e8995374b95d4",
                "2b3a5e6c865b5a25"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "2174d2af145c9701",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Luz Fraca da Bancada",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "997a0904eda1a8fc"
            ]
        ]
    },
    {
        "id": "cf2bb914cd8a6e16",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "997a0904eda1a8fc",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Lâmpada da Bancada Fraca",
        "label": "Lâmpada da Bancada Fraca",
        "tooltip": "",
        "group": "d092f2a1bbaf2ca8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "677f73033bfdea01",
                "645fe0a9ccf3ec8b"
            ]
        ]
    },
    {
        "id": "91b5a2cb55b54d08",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Cooler do Notebook",
        "label": "Cooler do Notebook",
        "tooltip": "",
        "group": "d092f2a1bbaf2ca8",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "50c566708019f05b",
                "d5d6febd84ac0471"
            ]
        ]
    },
    {
        "id": "4c2276eeb1420dcb",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Som Bluetooh",
        "label": "Som Bluetooth",
        "tooltip": "",
        "group": "d092f2a1bbaf2ca8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "7950712dd4c9cd16",
                "94d5e78081efbff1"
            ]
        ]
    },
    {
        "id": "1e554fab9352f0d8",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Interruptor 7",
        "label": "Interruptor 7",
        "tooltip": "",
        "group": "d092f2a1bbaf2ca8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 820,
        "wires": [
            [
                "67b1d69dcb4201de"
            ]
        ]
    },
    {
        "id": "c1b5ff30dbfa6cae",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Luz do Quarto",
        "label": "Lâmpada do Qaurto",
        "tooltip": "",
        "group": "d092f2a1bbaf2ca8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "666fe101703abe94",
                "7370dfbd73b8395c"
            ]
        ]
    },
    {
        "id": "70b667d6dbd6671e",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "b17887573c360a06",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Cooler Notebook",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "91b5a2cb55b54d08"
            ]
        ]
    },
    {
        "id": "16801185c9d8e482",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "b38bf86e35f8652a",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "4ef0accfecc379ed",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Interruptor 7",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 820,
        "wires": [
            [
                "1e554fab9352f0d8"
            ]
        ]
    },
    {
        "id": "7991694f48021482",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "6606292f1520d6bf",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Interruptor 5",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 760,
        "wires": [
            [
                "93b53f2266eebe6c"
            ]
        ]
    },
    {
        "id": "6bb6e61bcf656346",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Interruptor 4",
        "label": "Interruptor 4",
        "tooltip": "",
        "group": "d092f2a1bbaf2ca8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "c8c0b504f471049b"
            ]
        ]
    },
    {
        "id": "e8bf933d23548460",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Som Bluetooh",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "4c2276eeb1420dcb"
            ]
        ]
    },
    {
        "id": "93b53f2266eebe6c",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Interruptor 5",
        "label": "Interruptor 5",
        "tooltip": "",
        "group": "d092f2a1bbaf2ca8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligao",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "c70d235b82bd3b6d"
            ]
        ]
    },
    {
        "id": "07d401040eefdf9b",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Quarto do Robson",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "c1b5ff30dbfa6cae"
            ]
        ]
    },
    {
        "id": "b43a6794cee786e5",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Interruptor 5",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 700,
        "wires": [
            [
                "6bb6e61bcf656346"
            ]
        ]
    },
    {
        "id": "c8c0b504f471049b",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 700,
        "wires": []
    },
    {
        "id": "c70d235b82bd3b6d",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 760,
        "wires": []
    },
    {
        "id": "67b1d69dcb4201de",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 820,
        "wires": []
    },
    {
        "id": "0f257e850b1b1272",
        "type": "mqtt-broker",
        "name": "MQTT Home Assistant",
        "broker": "192.168.15.10",
        "port": "1883",
        "clientid": "Node-Red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bf2335351d119ded",
        "type": "noraf-config",
        "name": "Nora",
        "group": "Casa",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Robson's House",
        "storeStateInContext": true,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "d092f2a1bbaf2ca8",
        "type": "ui_group",
        "name": "Interruptores",
        "tab": "d37c8ab8f38ebded",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d37c8ab8f38ebded",
        "type": "ui_tab",
        "name": "IoT - Internet das Coisas",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]