Projeto-ESP32-MQTT-DHT22-Reles-WebServer-NodeRed-HomeAssistant/Node-Red Flows/ESP32 e Google Assistant.json
[{"id":"1c925a2f869391ab","type":"tab","label":"ESP32 e Google Assistant","disabled":false,"info":"","env":[]},{"id":"0d5bc5886c09f2fd","type":"debug","z":"1c925a2f869391ab","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":640,"wires":[]},{"id":"a77bcbd8843b5459","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor6/Comando","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":400,"wires":[]},{"id":"e8b898d7794bf5f5","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":280,"wires":[]},{"id":"8543468c8489ac1e","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":160,"wires":[]},{"id":"44f56baf21b58269","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":520,"wires":[]},{"id":"9388c540875fecbd","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":40,"wires":[]},{"id":"3eb7b9e1f77831dd","type":"noraf-light","z":"1c925a2f869391ab","devicename":"Lâmpada Forte da Bancada","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":false,"errorifstateunchaged":false,"statepayload":true,"brightnessoverride":"","roomhint":"Lâmpada da Bancada Forte","name":"Lâmpada da Bancada Forte","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":420,"y":100,"wires":[["9388c540875fecbd","1f8b3cbfdea83c18","1d347f1c7eb484bd","e58c918e35b66101"]],"inputLabels":["Ligado"]},{"id":"d9395c434d7cfd91","type":"noraf-light","z":"1c925a2f869391ab","devicename":"Lâmpada Fraca da Bancada","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":false,"errorifstateunchaged":false,"statepayload":true,"brightnessoverride":"","roomhint":"Lâmpada da Bancada Fraca","name":"Lâmpada da Bancada Fraca","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":420,"y":220,"wires":[["8543468c8489ac1e","702304c01cfe7d59","6992acca9008e1e4","29008bc7887e4f0f"]]},{"id":"cf98b1e0485e0f34","type":"noraf-light","z":"1c925a2f869391ab","devicename":"Som Bluetooth","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":false,"errorifstateunchaged":false,"statepayload":true,"brightnessoverride":"","roomhint":"Som Bluetooth","name":"Som Bluetooth","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":380,"y":460,"wires":[["a77bcbd8843b5459","2507e915950fd6fc","bb45cae3d155aa9f","7eea18f609c0a830"]]},{"id":"f546111f02bb02d9","type":"noraf-light","z":"1c925a2f869391ab","devicename":"Cooler do Notebook","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":false,"errorifstateunchaged":false,"statepayload":false,"brightnessoverride":"","roomhint":"Interruptor 3","name":"Cooler do Notebook","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":400,"y":340,"wires":[["e8b898d7794bf5f5","b4417172174c8bae","1879b609084511df","c7092f81f6db733c"]]},{"id":"e5d452a9bc64f3b4","type":"noraf-light","z":"1c925a2f869391ab","devicename":"Lâmpada do Quarto","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":false,"errorifstateunchaged":false,"statepayload":true,"brightnessoverride":"","roomhint":"Interruptor 5","name":"Lâmpada do Quarto","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":400,"y":580,"wires":[["44f56baf21b58269","e525f289b7e16db1","42bb62f0e902a35b","c31ab12ae0a1257b"]]},{"id":"a363d45a7fad4577","type":"mqtt in","z":"1c925a2f869391ab","name":"Luz Forte da Bancada","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado","qos":"0","datatype":"auto-detect","broker":"0f257e850b1b1272","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":60,"wires":[["1f8b3cbfdea83c18","3eb7b9e1f77831dd","4f95e4294ab554bd"]]},{"id":"1f8b3cbfdea83c18","type":"ui_switch","z":"1c925a2f869391ab","name":"Lâmpada da Bancada Forte","label":"Lâmpada da Bancada Forte","tooltip":"","group":"4b5eca5a7812740c","order":10,"width":5,"height":1,"passthru":false,"decouple":"true","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"#FFAAAA","animate":true,"className":"","x":420,"y":40,"wires":[["9388c540875fecbd","3eb7b9e1f77831dd","e58c918e35b66101"]],"icon":"node-red/light.svg"},{"id":"92d879c858cd9406","type":"mqtt in","z":"1c925a2f869391ab","name":"Luz Fraca da Bancada","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado","qos":"0","datatype":"auto-detect","broker":"0f257e850b1b1272","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":180,"wires":[["702304c01cfe7d59","4f95e4294ab554bd","d9395c434d7cfd91"]]},{"id":"1d347f1c7eb484bd","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":100,"wires":[]},{"id":"702304c01cfe7d59","type":"ui_switch","z":"1c925a2f869391ab","name":"Lâmpada da Bancada Fraca","label":"Lâmpada da Bancada Fraca","tooltip":"","group":"4b5eca5a7812740c","order":40,"width":3,"height":2,"passthru":false,"decouple":"true","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":420,"y":160,"wires":[["8543468c8489ac1e","d9395c434d7cfd91","29008bc7887e4f0f"]]},{"id":"b4417172174c8bae","type":"ui_switch","z":"1c925a2f869391ab","name":"Cooler do Notebook","label":"Cooler do Notebook","tooltip":"","group":"4b5eca5a7812740c","order":12,"width":3,"height":2,"passthru":false,"decouple":"true","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":400,"y":280,"wires":[["e8b898d7794bf5f5","f546111f02bb02d9","c7092f81f6db733c"]]},{"id":"bb45cae3d155aa9f","type":"ui_switch","z":"1c925a2f869391ab","name":"Som Bluetooh","label":"Som Bluetooth","tooltip":"","group":"4b5eca5a7812740c","order":37,"width":5,"height":2,"passthru":false,"decouple":"true","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":380,"y":400,"wires":[["cf98b1e0485e0f34","a77bcbd8843b5459","7eea18f609c0a830"]]},{"id":"82275e676ef96cae","type":"ui_switch","z":"1c925a2f869391ab","d":true,"name":"Interruptor 7","label":"Interruptor 7","tooltip":"","group":"","order":22,"width":2,"height":4,"passthru":false,"decouple":"true","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":550,"y":840,"wires":[["c622f8d5704d2529"]]},{"id":"42bb62f0e902a35b","type":"ui_switch","z":"1c925a2f869391ab","name":"Luz do Quarto","label":"Lâmpada do Qaurto","tooltip":"","group":"4b5eca5a7812740c","order":17,"width":5,"height":2,"passthru":false,"decouple":"true","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":380,"y":520,"wires":[["44f56baf21b58269","e5d452a9bc64f3b4","c31ab12ae0a1257b"]]},{"id":"6992acca9008e1e4","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":220,"wires":[]},{"id":"619b44408b4cb52b","type":"mqtt in","z":"1c925a2f869391ab","name":"Cooler Notebook","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado","qos":"0","datatype":"auto-detect","broker":"0f257e850b1b1272","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":300,"wires":[["b4417172174c8bae","4f95e4294ab554bd","f546111f02bb02d9"]]},{"id":"1879b609084511df","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":340,"wires":[]},{"id":"2507e915950fd6fc","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":460,"wires":[]},{"id":"d5e939d0ed6cd816","type":"mqtt in","z":"1c925a2f869391ab","name":"Interruptor 7","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado","qos":"2","datatype":"auto-detect","broker":"0f257e850b1b1272","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":840,"wires":[["82275e676ef96cae"]]},{"id":"e525f289b7e16db1","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":720,"y":580,"wires":[]},{"id":"2d3da68b54fcb2cf","type":"mqtt in","z":"1c925a2f869391ab","name":"Interruptor 5","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado","qos":"2","datatype":"auto-detect","broker":"0f257e850b1b1272","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":780,"wires":[["35cf551c6f5972e8"]]},{"id":"97807edbf322c545","type":"ui_switch","z":"1c925a2f869391ab","d":true,"name":"Interruptor 4","label":"Interruptor 4","tooltip":"","group":"","order":44,"width":2,"height":4,"passthru":false,"decouple":"true","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":550,"y":720,"wires":[["e728340ae28d4332"]]},{"id":"5b25726db52a3a9e","type":"mqtt in","z":"1c925a2f869391ab","name":"Som Bluetooh","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado","qos":"0","datatype":"auto-detect","broker":"0f257e850b1b1272","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":420,"wires":[["bb45cae3d155aa9f","4f95e4294ab554bd","cf98b1e0485e0f34"]]},{"id":"35cf551c6f5972e8","type":"ui_switch","z":"1c925a2f869391ab","d":true,"name":"Interruptor 5","label":"Interruptor 5","tooltip":"","group":"","order":25,"width":2,"height":4,"passthru":false,"decouple":"true","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligao","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":550,"y":780,"wires":[["f810597c91a1921f"]]},{"id":"5478d03e2a2f8f4e","type":"mqtt in","z":"1c925a2f869391ab","name":"Quarto do Robson","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado","qos":"0","datatype":"auto-detect","broker":"0f257e850b1b1272","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":560,"wires":[["42bb62f0e902a35b","4f95e4294ab554bd","e5d452a9bc64f3b4"]]},{"id":"8139451cf1a1b761","type":"mqtt in","z":"1c925a2f869391ab","name":"Interruptor 5","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado","qos":"2","datatype":"auto-detect","broker":"0f257e850b1b1272","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":720,"wires":[["97807edbf322c545"]]},{"id":"e728340ae28d4332","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":740,"y":720,"wires":[]},{"id":"f810597c91a1921f","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":740,"y":780,"wires":[]},{"id":"c622f8d5704d2529","type":"mqtt out","z":"1c925a2f869391ab","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":740,"y":840,"wires":[]},{"id":"e58c918e35b66101","type":"ui_template","z":"1c925a2f869391ab","group":"e574d37f66737b1d","name":"Luz Forte da Bancada","order":1,"width":2,"height":2,"format":"<style>\n    p01 {\n        font: normal 18px Arial;\n        text-align: center;\n    }\n</style>\n\n<p01>\n    Luz Forte\n    {{msg.payload}}\n</p01>\n\n<p01>\n    <md-button id=\"b01\" class=\"md-button remote-button\" ng-click=\"toggle()\"> <i class=\"\" aria-hidden=\"true\"></i>\n    </md-button>\n</p01>\n\n<script>\n    (function($scope) {\n\n    var btnSelector = \"#b01\"; \n    var $btn = $(btnSelector);\n    \n    scope.toggle = function(){        \n\n        var $btn = $(btnSelector);\n        var currentState = $btn.data(\"state\");\n\n        if(currentState == \"1\"){\n            objeto($btn);\n            $scope.send({\"payload\": \"0\"});            \n        } else {\n            unobjeto($btn);\n            $scope.send({\"payload\": \"1\"});\n        }        \n    } \n    \n    scope.$watch('msg', function(msg) {\n        var $btn = $(btnSelector);\n        \n        if (msg) {\n            if(msg.payload == \"1\"){\n                unobjeto($btn);\n            } else if(msg.payload == \"0\"){\n                objeto($btn);\n            }\n          \n        }        \n    }); \n    \n    function objeto($btn){        \n        $btn.data(\"state\",\"0\");\n        document.getElementById(\"b01\").style.color = \"#fa7f72\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");\n    }\n    \n    function unobjeto($btn){        \n        $btn.data(\"state\",\"1\"); \n        document.getElementById(\"b01\").style.color = \"#008000\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");        \n    }\n\n})(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":960,"y":60,"wires":[["9388c540875fecbd","3eb7b9e1f77831dd","1d347f1c7eb484bd"]]},{"id":"4f95e4294ab554bd","type":"rbe","z":"1c925a2f869391ab","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":350,"y":640,"wires":[["0d5bc5886c09f2fd"]]},{"id":"29008bc7887e4f0f","type":"ui_template","z":"1c925a2f869391ab","group":"a003dfb33230e849","name":"Luz Fraca da Bancada","order":1,"width":2,"height":2,"format":"<style>\n    p01 {\n        font: normal 18px Arial;\n        text-align: center;\n    }\n</style>\n\n<p01>\n    Luz Fraca\n    {{msg.payload}}\n</p01>\n\n<p01>\n    <md-button id=\"b02\" class=\"md-button remote-button\" ng-click=\"toggle()\"> <i class=\"\" aria-hidden=\"true\"></i>\n    </md-button>\n</p01>\n\n<script>\n    (function($scope) {\n\n    var btnSelector = \"#b02\"; \n    var $btn = $(btnSelector);\n    \n    scope.toggle = function(){        \n\n        var $btn = $(btnSelector);\n        var currentState = $btn.data(\"state\");\n\n        if(currentState == \"1\"){\n            objeto($btn);\n            $scope.send({\"payload\": \"0\"});            \n        } else {\n            unobjeto($btn);\n            $scope.send({\"payload\": \"1\"});\n        }        \n    } \n    \n    scope.$watch('msg', function(msg) {\n        var $btn = $(btnSelector);\n        \n        if (msg) {\n            if(msg.payload == \"1\"){\n                unobjeto($btn);\n            } else if(msg.payload == \"0\"){\n                objeto($btn);\n            }\n          \n        }        \n    }); \n    \n    function objeto($btn){        \n        $btn.data(\"state\",\"0\");\n        document.getElementById(\"b02\").style.color = \"#fa7f72\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");\n    }\n    \n    function unobjeto($btn){        \n        $btn.data(\"state\",\"1\"); \n        document.getElementById(\"b02\").style.color = \"#008000\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");        \n    }\n\n})(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":960,"y":180,"wires":[["8543468c8489ac1e","d9395c434d7cfd91","6992acca9008e1e4"]]},{"id":"c7092f81f6db733c","type":"ui_template","z":"1c925a2f869391ab","group":"b6b167b361093a60","name":"Cooler Notebook","order":1,"width":2,"height":2,"format":"<style>\n    p01 {\n        font: normal 18px Arial;\n        text-align: center;\n    }\n</style>\n\n<p01>\n    Cooler\n    {{msg.payload}}\n</p01>\n\n<p01>\n    <md-button id=\"b03\" class=\"md-button remote-button\" ng-click=\"toggle()\"> <i class=\"\" aria-hidden=\"true\"></i>\n    </md-button>\n</p01>\n\n<script>\n    (function($scope) {\n\n    var btnSelector = \"#b03\"; \n    var $btn = $(btnSelector);\n    \n    scope.toggle = function(){        \n\n        var $btn = $(btnSelector);\n        var currentState = $btn.data(\"state\");\n\n        if(currentState == \"1\"){\n            objeto($btn);\n            $scope.send({\"payload\": \"0\"});            \n        } else {\n            unobjeto($btn);\n            $scope.send({\"payload\": \"1\"});\n        }        \n    } \n    \n    scope.$watch('msg', function(msg) {\n        var $btn = $(btnSelector);\n        \n        if (msg) {\n            if(msg.payload == \"1\"){\n                unobjeto($btn);\n            } else if(msg.payload == \"0\"){\n                objeto($btn);\n            }\n          \n        }        \n    }); \n    \n    function objeto($btn){        \n        $btn.data(\"state\",\"0\");\n        document.getElementById(\"b03\").style.color = \"#fa7f72\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");\n    }\n    \n    function unobjeto($btn){        \n        $btn.data(\"state\",\"1\"); \n        document.getElementById(\"b03\").style.color = \"#008000\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");        \n    }\n\n})(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":970,"y":300,"wires":[["1879b609084511df","e8b898d7794bf5f5"]]},{"id":"7eea18f609c0a830","type":"ui_template","z":"1c925a2f869391ab","group":"4d0efd4720db1fd9","name":"Som Bluetooth","order":1,"width":2,"height":2,"format":"<style>\n    p01 {\n        font: normal 18px Arial;\n        text-align: center;\n    }\n</style>\n\n<p01>\n    Bluetooth\n    {{msg.payload}}\n</p01>\n\n<p01>\n    <md-button id=\"b04\" class=\"md-button remote-button\" ng-click=\"toggle()\"> <i class=\"\" aria-hidden=\"true\"></i>\n    </md-button>\n</p01>\n\n<script>\n    (function($scope) {\n\n    var btnSelector = \"#b04\"; \n    var $btn = $(btnSelector);\n    \n    scope.toggle = function(){        \n\n        var $btn = $(btnSelector);\n        var currentState = $btn.data(\"state\");\n\n        if(currentState == \"1\"){\n            objeto($btn);\n            $scope.send({\"payload\": \"0\"});            \n        } else {\n            unobjeto($btn);\n            $scope.send({\"payload\": \"1\"});\n        }        \n    } \n    \n    scope.$watch('msg', function(msg) {\n        var $btn = $(btnSelector);\n        \n        if (msg) {\n            if(msg.payload == \"1\"){\n                unobjeto($btn);\n            } else if(msg.payload == \"0\"){\n                objeto($btn);\n            }\n          \n        }        \n    }); \n    \n    function objeto($btn){        \n        $btn.data(\"state\",\"0\");\n        document.getElementById(\"b04\").style.color = \"#fa7f72\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");\n    }\n    \n    function unobjeto($btn){        \n        $btn.data(\"state\",\"1\"); \n        document.getElementById(\"b04\").style.color = \"#008000\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");        \n    }\n\n})(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":980,"y":420,"wires":[["a77bcbd8843b5459","2507e915950fd6fc"]]},{"id":"c31ab12ae0a1257b","type":"ui_template","z":"1c925a2f869391ab","group":"e808f896830db69f","name":"Quarto do Robson","order":1,"width":2,"height":2,"format":"<style>\n    p01 {\n        font: normal 18px Arial;\n        text-align: center;\n    }\n</style>\n\n<p01>\n    Quarto\n    {{msg.payload}}\n</p01>\n\n<p01>\n    <md-button id=\"b05\" class=\"md-button remote-button\" ng-click=\"toggle()\"> <i class=\"\" aria-hidden=\"true\"></i>\n    </md-button>\n</p01>\n\n<script>\n    (function($scope) {\n\n    var btnSelector = \"#b05\"; \n    var $btn = $(btnSelector);\n    \n    scope.toggle = function(){        \n\n        var $btn = $(btnSelector);\n        var currentState = $btn.data(\"state\");\n\n        if(currentState == \"1\"){\n            objeto($btn);\n            $scope.send({\"payload\": \"0\"});            \n        } else {\n            unobjeto($btn);\n            $scope.send({\"payload\": \"1\"});\n        }        \n    } \n    \n    scope.$watch('msg', function(msg) {\n        var $btn = $(btnSelector);\n        \n        if (msg) {\n            if(msg.payload == \"1\"){\n                unobjeto($btn);\n            } else if(msg.payload == \"0\"){\n                objeto($btn);\n            }\n          \n        }        \n    }); \n    \n    function objeto($btn){        \n        $btn.data(\"state\",\"0\");\n        document.getElementById(\"b05\").style.color = \"#fa7f72\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");\n    }\n    \n    function unobjeto($btn){        \n        $btn.data(\"state\",\"1\"); \n        document.getElementById(\"b05\").style.color = \"#008000\";\n        $btn.find(\"i\").removeClass(\"fa fa-lightbulb-o fa-4x\");\n        $btn.find(\"i\").addClass(\"fa fa-lightbulb-o fa-4x\");        \n    }\n\n})(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":970,"y":540,"wires":[["44f56baf21b58269","e525f289b7e16db1"]]},{"id":"0f257e850b1b1272","type":"mqtt-broker","name":"MQTT Home Assistant","broker":"192.168.15.10","port":"1883","clientid":"Node-Red","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"bf2335351d119ded","type":"noraf-config","name":"Nora","group":"Casa","twofactor":"off","twofactorpin":"","localexecution":true,"structure":"Robson's House","storeStateInContext":true,"disableValidationErrors":false},{"id":"4b5eca5a7812740c","type":"ui_group","name":"Interruptores","tab":"3e927619878d05b7","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e574d37f66737b1d","type":"ui_group","name":"Luz Forte da Bancada","tab":"a1f8b70b4a36915e","order":5,"disp":false,"width":2,"collapse":false,"className":""},{"id":"a003dfb33230e849","type":"ui_group","name":"Luz Fraca da Bamcada","tab":"a1f8b70b4a36915e","order":4,"disp":false,"width":2,"collapse":false,"className":""},{"id":"b6b167b361093a60","type":"ui_group","name":"Cooler do Notebook","tab":"a1f8b70b4a36915e","order":7,"disp":false,"width":2,"collapse":false,"className":""},{"id":"4d0efd4720db1fd9","type":"ui_group","name":"Som Bluetooth","tab":"a1f8b70b4a36915e","order":6,"disp":false,"width":2,"collapse":false,"className":""},{"id":"e808f896830db69f","type":"ui_group","name":"Luz do Quarto","tab":"a1f8b70b4a36915e","order":3,"disp":false,"width":2,"collapse":false,"className":""},{"id":"3e927619878d05b7","type":"ui_tab","name":"Automação","icon":"dashboard","order":2,"disabled":true,"hidden":true},{"id":"a1f8b70b4a36915e","type":"ui_tab","name":"Automação Residencial","icon":"dashboard","order":1,"disabled":false,"hidden":false}]