Projeto-ESP32-MQTT-DHT22-Reles-WebServer-NodeRed-HomeAssistant/Node-Red Flows/flows RFID讀取.json
[{"id":"7ca7ba65.e3eae4","type":"mqtt in","z":"23ced8f2.98a2b8","name":"RFID MQTT","topic":"alex9ufo/outTopic/RFID/json","qos":"2","datatype":"auto","broker":"e4d9b72d.d14398","x":90,"y":40,"wires":[["ec1b040b.7b68f8","4d6d0edf.2de43","950f089e.98c2a8","674e8bc2.a736e4"]]},{"id":"950f089e.98c2a8","type":"debug","z":"23ced8f2.98a2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":40,"wires":[]},{"id":"ec1b040b.7b68f8","type":"function","z":"23ced8f2.98a2b8","name":"json+時分秒","func":"var date = new Date();\nvar h = date.getHours();\nvar m = date.getMinutes();\nvar s = date.getSeconds();\nif(h<10){\n    h = '0'+h;\n}\nif(m<10){\n    m = '0' + m;\n}\nif(s<10){\n    s = '0' + s;\n}\nmsg.payload = 'Time:(' + h + ':' + m + ':' + s + ')'+ msg.payload ;\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["ce4bb36e.f0bae"]]},{"id":"ce4bb36e.f0bae","type":"ui_text","z":"23ced8f2.98a2b8","group":"ac0f1141.eb50e","order":0,"width":0,"height":0,"name":"","label":"MQTT_send_Message","format":"{{msg.payload}}","layout":"row-left","x":540,"y":80,"wires":[]},{"id":"4d6d0edf.2de43","type":"switch","z":"23ced8f2.98a2b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"966aa5f4","vt":"str"},{"t":"cont","v":"7021ed10","vt":"str"},{"t":"cont","v":"96928cf4","vt":"str"},{"t":"cont","v":"b68b19f5","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":110,"y":200,"wires":[["7b51c354.54ebcc"],["6894eabe.fa65b4"],["c80c472d.a310a8"],["ffa9cb24.e8d968"],["a1102d13.69b74"]]},{"id":"7b51c354.54ebcc","type":"function","z":"23ced8f2.98a2b8","name":"Alex9ufo卡片","func":"msg.payload = 'Alex9ufo Card'\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["9ac29315.ee87f"]]},{"id":"e5092603.335138","type":"ui_button","z":"23ced8f2.98a2b8","name":"","group":"ac0f1141.eb50e","order":0,"width":"3","height":"1","passthru":false,"label":"語音測試","tooltip":"","color":"white","bgcolor":"orange","icon":"fa-circle","payload":"語音測試","payloadType":"str","topic":"","x":480,"y":240,"wires":[["9a73ac08.bb98e"]]},{"id":"9a73ac08.bb98e","type":"ui_text_input","z":"23ced8f2.98a2b8","name":"","label":"","tooltip":"","group":"ac0f1141.eb50e","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":640,"y":260,"wires":[["173f1caf.f07fe3","dacf4f4b.91266"]]},{"id":"dacf4f4b.91266","type":"debug","z":"23ced8f2.98a2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"173f1caf.f07fe3","type":"ui_audio","z":"23ced8f2.98a2b8","name":"播放聲音","group":"ac0f1141.eb50e","voice":"zh-TW","always":true,"x":860,"y":240,"wires":[]},{"id":"137935bd.fe880a","type":"ui_template","z":"23ced8f2.98a2b8","group":"ac0f1141.eb50e","name":"","order":0,"width":"12","height":"4","format":"<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Date</th> \n    <th>RFID</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].currenttime}}</td>\n    <td>{{msg.payload[$index].uidname}}</td> \n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":995,"y":376,"wires":[[]]},{"id":"ee949fd5.b6d52","type":"ui_button","z":"23ced8f2.98a2b8","name":"Alex9ufo","group":"ac0f1141.eb50e","order":2,"width":"3","height":"1","passthru":false,"label":"手動插入測試資料","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"RFIDNo\":\"Alex9ufo測試\"}","payloadType":"json","topic":"","x":80,"y":520,"wires":[["cf201a65.cc7d68"]]},{"id":"cf201a65.cc7d68","type":"mqtt out","z":"23ced8f2.98a2b8","name":"","topic":"alex9ufo/outTopic/RFID/json","qos":"","retain":"","broker":"e4d9b72d.d14398","x":320,"y":520,"wires":[]},{"id":"a672cacc.25a3a8","type":"inject","z":"23ced8f2.98a2b8","name":"CREATE DB","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE RFIDtable( id INT PRIMARY KEY NOT NULL, currenttime TEXT , uidname TEXT)","payload":"","payloadType":"date","x":585,"y":416,"wires":[["766d807e.0f878"]]},{"id":"9cca2e6c.7b4d3","type":"ui_button","z":"23ced8f2.98a2b8","name":"","group":"ac0f1141.eb50e","order":10,"width":"3","height":"1","passthru":false,"label":"View Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"檢視資料庫","payloadType":"str","topic":"SELECT * FROM RFIDtable ORDER BY  id  DESC LIMIT 100;","x":565,"y":376,"wires":[["766d807e.0f878"]]},{"id":"e458cbbd.dc0bf8","type":"ui_button","z":"23ced8f2.98a2b8","name":"","group":"ac0f1141.eb50e","order":11,"width":"3","height":"1","passthru":false,"label":"建立資料庫(只能執行一次)","tooltip":"","color":"","bgcolor":" purple","icon":"","payload":"","payloadType":"str","topic":"CREATE TABLE RFIDtable( id INT PRIMARY KEY NOT NULL, currenttime TEXT , uidname TEXT)","x":605,"y":336,"wires":[["766d807e.0f878"]]},{"id":"cccd9168.f1c4","type":"inject","z":"23ced8f2.98a2b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":320,"wires":[["a1102d13.69b74"]]},{"id":"a1102d13.69b74","type":"function","z":"23ced8f2.98a2b8","name":"卡片判別","func":"var st1 = msg.payload.split('\": \"')[1].substr(0,8);\nvar st2='';\n switch (st1)\n {\n case '966aa5f4':\n     st2 = 'Alex9ufo Car';\n     break;\n case '7021ed10':\n     st2 = 'RaspberryPi Card';\n     break;\n case '96928cf4':\n     st2 = 'Node-red Car';\n     break;\n case 'b68b19f5':\n     st2 = 'VIP Car';\n     break;\n default:\n   st2 = 'illegal Card';\n }\n msg.payload=st2;\nreturn msg;\n\n/***\nif ( st1 == '966aa5f4') \n{\n    msg.payload = 'Alex9ufo Car';\n}\nelse if ( st1 == '7021ed10') \n{\n    msg.payload = 'RaspberryPi Card';\n}\nelse if (st1 == '96928cf4') \n{\n    msg.payload = 'Node-red Card';\n} \nelse if (st1 == 'b68b19f5') \n{\n    msg.payload = 'VIP Card';\n} \nelse\n{\n    msg.payload = 'illegal Card';\n} \nreturn msg;\n***/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":300,"wires":[["9a73ac08.bb98e","ce5c82e4.4fccd","50bcaa8e.9adb04"]]},{"id":"ffa9cb24.e8d968","type":"function","z":"23ced8f2.98a2b8","name":"VIP卡片","func":"msg.payload = 'VIP Card'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":240,"wires":[["9ac29315.ee87f"]]},{"id":"c80c472d.a310a8","type":"function","z":"23ced8f2.98a2b8","name":"Node-red卡片","func":"msg.payload = 'Node-red Card'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":200,"wires":[["9ac29315.ee87f"]]},{"id":"6894eabe.fa65b4","type":"function","z":"23ced8f2.98a2b8","name":"RaspberryPi卡片","func":"msg.payload = 'RaspberryPi Card'\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["9ac29315.ee87f"]]},{"id":"ce5c82e4.4fccd","type":"json","z":"23ced8f2.98a2b8","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":300,"wires":[["1041aa16.a3cd16"]]},{"id":"1041aa16.a3cd16","type":"function","z":"23ced8f2.98a2b8","name":"INSERT","func":"msg.topic = \"INSERT INTO RFIDtable (id,currenttime, uidname) VALUES (?,?,?)\";\n\nvar Today = new Date();\nvar yyyy = Today.getFullYear(); //年\nvar MM = Today.getMonth()+1;    //月\nvar dd = Today.getDate();       //日\nvar h = Today.getHours();       //時\nvar m = Today.getMinutes();     //分\nvar s = Today.getSeconds();     //秒\n\nif(MM<10)\n{\n   MM = '0'+MM;\n}\n\nif(dd<10)\n{\n   dd = '0'+dd;\n}\n\nif(h<10)\n{\n   h = '0'+h;\n}\n\nif(m<10)\n{\n  m = '0' + m;\n}\n\nif(s<10)\n{\n  s = '0' + s;\n}\nvar hms= yyyy + '/'+ MM + '/'+ dd + ' ' + h + ':' + m + ':' + s ;\nvar id= Date.now() ;\nmsg.payload = [id ,hms, msg.payload];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":300,"wires":[["54a1fb7.a966704","766d807e.0f878"]]},{"id":"54a1fb7.a966704","type":"debug","z":"23ced8f2.98a2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":280,"wires":[]},{"id":"766d807e.0f878","type":"sqlite","z":"23ced8f2.98a2b8","mydb":"61a261a8.68f6a","sqlquery":"msg.topic","sql":"","name":"RFID","x":825,"y":376,"wires":[["137935bd.fe880a"]]},{"id":"e328a81.0c5de58","type":"function","z":"23ced8f2.98a2b8","name":"Format timestamp","func":"var date = new Date();\nvar h = date.getHours();\nvar m = date.getMinutes();\nvar s = date.getSeconds();\nif(h<10){\n    h = '0'+h;\n}\nif(m<10){\n    m = '0' + m;\n}\nif(s<10){\n    s = '0' + s;\n}\nmsg.payload = msg.payload + ' --> Time:(' + h + ':' + m + ':' + s + ')' ;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":460,"wires":[["bbb7ab40.23bf58"]]},{"id":"bbb7ab40.23bf58","type":"function","z":"23ced8f2.98a2b8","name":"Set Line API ","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded','Authorization':'Bearer cEI4hx24xyopKGAArgZcKJNHE1V7KeeIi4Lzny3dDNO'};\nmsg.payload = {\"message\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["d02b70d3.6b314"]]},{"id":"d02b70d3.6b314","type":"http request","z":"23ced8f2.98a2b8","name":"","method":"POST","ret":"txt","url":"https://notify-api.line.me/api/notify","tls":"","x":680,"y":460,"wires":[["7eb05ac.7a7f5a4"]]},{"id":"7eb05ac.7a7f5a4","type":"debug","z":"23ced8f2.98a2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":460,"wires":[]},{"id":"cdc537ef.7d1cd8","type":"link in","z":"23ced8f2.98a2b8","name":"","links":["674e8bc2.a736e4"],"x":175,"y":460,"wires":[["e328a81.0c5de58"]]},{"id":"674e8bc2.a736e4","type":"link out","z":"23ced8f2.98a2b8","name":"","links":["cdc537ef.7d1cd8"],"x":135,"y":120,"wires":[]},{"id":"50bcaa8e.9adb04","type":"debug","z":"23ced8f2.98a2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":380,"wires":[]},{"id":"9ac29315.ee87f","type":"debug","z":"23ced8f2.98a2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"e4d9b72d.d14398","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac0f1141.eb50e","type":"ui_group","z":"","name":"RFID讀取","tab":"e03ab9d0.1a8f08","order":1,"disp":true,"width":"15","collapse":false},{"id":"61a261a8.68f6a","type":"sqlitedb","z":"","db":"rfid.db","mode":"RWC"},{"id":"e03ab9d0.1a8f08","type":"ui_tab","z":"","name":"RFID","icon":"dashboard","order":1}]