Projeto-ESP32-MQTT-DHT22-Reles-WebServer-NodeRed-HomeAssistant/Node-Red Flows/Sensor Sensação Térmica.json
[{"id":"b875016aa2b8b6a9","type":"tab","label":"Sensor de Sensação Térmica","disabled":false,"info":"","env":[]},{"id":"cb93a593fb790d64","type":"inject","z":"b875016aa2b8b6a9","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":80,"y":360,"wires":[["dbd46f6c04ad5558","c7d51f330d12ca4f"]]},{"id":"dbd46f6c04ad5558","type":"api-current-state","z":"b875016aa2b8b6a9","name":"Temperatura","server":"a53859d772907d52","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.temperatura","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":325,"y":315,"wires":[["aa4613284d7a3a89"]]},{"id":"c7d51f330d12ca4f","type":"api-current-state","z":"b875016aa2b8b6a9","name":"Umidade","server":"a53859d772907d52","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.umidade","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":315,"y":405,"wires":[["aa4613284d7a3a89"]]},{"id":"aa4613284d7a3a89","type":"join","z":"b875016aa2b8b6a9","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":580,"y":360,"wires":[["d0c04be6f9768ea3"]]},{"id":"d0c04be6f9768ea3","type":"function","z":"b875016aa2b8b6a9","name":"Função ST","func":"function calIndCalor() {\n    var id;\n    var tempF = msg.payload[0];\n    var umR = msg.payload[1];\n    if (tempF !== \"\" && umR !== \"\") {\n        tempF = ((tempF * 1.8) + 32);\n        var HI;\n        if (parseFloat(tempF) <= 32) {\n            HI = tempF;\n        } else {\n            HI = 0.5 * (tempF + 61.0 + ((tempF - 68.0) * 1.2) + (umR * 0.094));\n            if (HI > 79) {\n                HI = -42.379 + 2.04901523 * tempF + 10.14333127 * umR - 0.22475541 * tempF * umR - 0.00683783 * tempF * tempF - 0.05481717 * umR * umR + 0.00122874 * tempF * tempF * umR + 0.00085282 * tempF * umR * umR - 0.00000199 * tempF * tempF * umR * umR;\n                if ((umR <= 13) && ((tempF >= 80) && tempF <= 112)) {\n                    HI -= ((13 - umR) / 4) * Math.sqrt((17 - Math.abs(tempF - 95)) / 17);\n                }\n                if ((umR > 85) && ((tempF >= 80) && tempF <= 87)) {\n                    HI += ((umR - 85) / 10) * ((87 - tempF) / 5);\n                }\n            }\n        }\n        id = (HI - 32) / 1.8;\n    }\n    return id;\n}\nvar indicecalor = parseFloat(calIndCalor().toFixed(2))\nreturn { payload: indicecalor };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":360,"wires":[["d892533274f41bab"]]},{"id":"d892533274f41bab","type":"ha-sensor","z":"b875016aa2b8b6a9","name":"Sensação Térmica~Node-Red","entityConfig":"95aee11f6938afe2","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1120,"y":360,"wires":[[]]},{"id":"a53859d772907d52","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"95aee11f6938afe2","type":"ha-entity-config","server":"a53859d772907d52","deviceConfig":"","name":"sensor config for Sensação Térmica~Node-Red","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Sensação Térmica Node-Red"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true}]