Projeto-ESP32-MQTT-DHT22-Reles-WebServer-NodeRed-HomeAssistant/Node-Red Flows/Sensor de Movimento.json
[{"id":"0c22ad911f35fe8a","type":"subflow","name":"Movimentos","info":"","category":"","in":[],"out":[{"x":605,"y":180,"wires":[{"id":"305483a865d53e41","port":0},{"id":"305483a865d53e41","port":1}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-blind"},{"id":"305483a865d53e41","type":"server-state-changed","z":"0c22ad911f35fe8a","name":"Sensor de Movimento","server":"a53859d772907d52","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sensor_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":275,"y":180,"wires":[[],[]]},{"id":"a53859d772907d52","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"e2f2771ba0b293f6","type":"tab","label":"Sensor de Movimento","disabled":false,"info":"","env":[]},{"id":"0aac7a59a576f126","type":"subflow:0c22ad911f35fe8a","z":"e2f2771ba0b293f6","name":"","x":80,"y":90,"wires":[[]]},{"id":"5edc734ec04a057b","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Relé de Teste 5","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.interruptor_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":595,"y":45,"wires":[[]]},{"id":"ecf20bd1e6d2e2dc","type":"switch","z":"e2f2771ba0b293f6","name":"Se","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":90,"wires":[["5edc734ec04a057b"],["8bea76d6845eec4c"]]},{"id":"8bea76d6845eec4c","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Relé de Teste 5","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.interruptor_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":595,"y":135,"wires":[[]]},{"id":"bf0714ace828cb3f","type":"subflow:0c22ad911f35fe8a","z":"e2f2771ba0b293f6","name":"Tem Movimento?","x":85,"y":255,"wires":[[]]},{"id":"0f139db6770ea51f","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Interruptor Ligado?","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.interruptor_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":405,"y":255,"wires":[["990a1b193c75bde7"],["f9f4cc0c4ff0f57c"]]},{"id":"f9f4cc0c4ff0f57c","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Liga o interruptor!","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.interruptor_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":360,"wires":[[]]},{"id":"39f397b2fbc00557","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Notebbok está desligado?","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.lastactive","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":540,"wires":[[],["c89b45db67d1a026"]]},{"id":"c89b45db67d1a026","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Desliga o interruptor!","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.interruptor_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":865,"y":465,"wires":[[]]},{"id":"990a1b193c75bde7","type":"trigger","z":"e2f2771ba0b293f6","name":"","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":255,"wires":[["d046748614311d98"]]},{"id":"d046748614311d98","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Checa se o Sensor está OFF!","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.sensor_pir","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":405,"wires":[["990a1b193c75bde7"],["39f397b2fbc00557"]]}]