Projeto-ESP32-MQTT-DHT22-BMP180-Reles-WebServer-NodeRed-HomeAssistant/Node-Red Flows/MQTT-Broker.json
[
    {
        "id": "f9f0ac7f99118331",
        "type": "tab",
        "label": "Dashboard 2.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9533c41a248d3709",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "738aba37eab10fd0",
            "10075d8cc3dab9b6",
            "2133d856179a3f5c",
            "039789c20341bf19",
            "6cde74f1baa26870"
        ],
        "x": 364,
        "y": 5,
        "w": 652,
        "h": 130
    },
    {
        "id": "564eca91cc690ad0",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "dbbfdf39c6f90e14",
            "105e43cb73f7dee4",
            "aa17d3119a8aa880",
            "fa4f18fdc7d134e4",
            "844e492f6ebafb44"
        ],
        "x": 4,
        "y": 149,
        "w": 652.9999771118164,
        "h": 127.99997997283936
    },
    {
        "id": "d117c1cbe32fcf7f",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "b6bdb07c6c9afc28",
            "9d74375ca91d9d4c",
            "6f30257579b3b6c2",
            "e8fd90455671f55d",
            "2f2a51db795f79cf"
        ],
        "x": 5,
        "y": 291,
        "w": 652,
        "h": 127.99999237060547
    },
    {
        "id": "2de24dd6841d2139",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "519a8211a4071e09",
            "d40fde2afe121589",
            "4bfc5b506142f2d5",
            "af23916c4938a236",
            "a46f3b2f636657e5"
        ],
        "x": 5,
        "y": 433,
        "w": 652,
        "h": 130
    },
    {
        "id": "bd62f9f9fa60a573",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "97118961b076e5fc",
            "0cc28845966e046e",
            "a563d49e01e21aa0",
            "5e06bcef668aadb0",
            "f2930181ab5d7d43"
        ],
        "x": 5,
        "y": 578,
        "w": 652,
        "h": 130
    },
    {
        "id": "651c0c5f34d29726",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "11eed79ffb2c1609",
            "4e7c74bdaaafc0f9",
            "5f0892c593e3ff4d",
            "926ce02b523ede78"
        ],
        "x": 664,
        "y": 147.99998092651367,
        "w": 630.9999923706055,
        "h": 129.99999809265137
    },
    {
        "id": "635bfeb81ea84cbe",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "fdc26f2c35d1e52a",
            "5f92a707f9b1b49e",
            "26949243f4383767",
            "5735bdefcc115b24"
        ],
        "x": 665,
        "y": 292,
        "w": 632,
        "h": 126.99999237060547
    },
    {
        "id": "bb82d0898dcd010a",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "981d2c84a3f4255e",
            "9ee4a511bf4846d2",
            "d2ad60ae78d324f6",
            "cfe1f61f601718f5"
        ],
        "x": 665,
        "y": 433.99999046325684,
        "w": 636,
        "h": 130.00000953674316
    },
    {
        "id": "5deec3e0f6de479f",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffC000",
            "label": true
        },
        "nodes": [
            "c647f83227a6b3bb",
            "a9c178e310fa058a",
            "cb1ee2235ef6bf62",
            "d19f1755f85314ea"
        ],
        "x": 666,
        "y": 579.0000171661377,
        "w": 636.9999923706055,
        "h": 129.99999809265137
    },
    {
        "id": "789d5bb3d86fe585",
        "type": "group",
        "z": "f9f0ac7f99118331",
        "name": "Broker MQTT",
        "style": {
            "stroke": "#ffC000",
            "fill": "#92d04f",
            "label": true,
            "label-position": "n",
            "color": "#ffffff",
            "fill-opacity": "0.79"
        },
        "nodes": [
            "50e87bc063fa7b13"
        ],
        "x": 579.7373046875,
        "y": 714.7442016601562,
        "w": 152,
        "h": 82
    },
    {
        "id": "97118961b076e5fc",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "bd62f9f9fa60a573",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Comando",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 551,
        "y": 619,
        "wires": []
    },
    {
        "id": "b6bdb07c6c9afc28",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "d117c1cbe32fcf7f",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 551,
        "y": 332,
        "wires": []
    },
    {
        "id": "dbbfdf39c6f90e14",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "564eca91cc690ad0",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 549.9999771118164,
        "y": 190.99998092651367,
        "wires": []
    },
    {
        "id": "519a8211a4071e09",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "2de24dd6841d2139",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 551,
        "y": 474,
        "wires": []
    },
    {
        "id": "738aba37eab10fd0",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "9533c41a248d3709",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 910,
        "y": 46,
        "wires": []
    },
    {
        "id": "10075d8cc3dab9b6",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "9533c41a248d3709",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 910,
        "y": 94,
        "wires": []
    },
    {
        "id": "105e43cb73f7dee4",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "564eca91cc690ad0",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 550.9999771118164,
        "y": 235.99997997283936,
        "wires": []
    },
    {
        "id": "9d74375ca91d9d4c",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "d117c1cbe32fcf7f",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 549.9999771118164,
        "y": 377.99999237060547,
        "wires": []
    },
    {
        "id": "0cc28845966e046e",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "bd62f9f9fa60a573",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 551,
        "y": 667,
        "wires": []
    },
    {
        "id": "d40fde2afe121589",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "2de24dd6841d2139",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 551,
        "y": 522,
        "wires": []
    },
    {
        "id": "af23916c4938a236",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "2de24dd6841d2139",
        "name": "Varanda",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 91,
        "y": 490,
        "wires": [
            [
                "4bfc5b506142f2d5",
                "a46f3b2f636657e5"
            ]
        ]
    },
    {
        "id": "5e06bcef668aadb0",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "bd62f9f9fa60a573",
        "name": "Som Bluetooh",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 101,
        "y": 639,
        "wires": [
            [
                "a563d49e01e21aa0",
                "f2930181ab5d7d43"
            ]
        ]
    },
    {
        "id": "e8fd90455671f55d",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "d117c1cbe32fcf7f",
        "name": "Cooler Notebook",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 111,
        "y": 352,
        "wires": [
            [
                "6f30257579b3b6c2",
                "2f2a51db795f79cf"
            ]
        ]
    },
    {
        "id": "fa4f18fdc7d134e4",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "564eca91cc690ad0",
        "name": "Luz da Bancada",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 206,
        "wires": [
            [
                "aa17d3119a8aa880",
                "844e492f6ebafb44"
            ]
        ]
    },
    {
        "id": "039789c20341bf19",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "9533c41a248d3709",
        "name": "Quarto 1",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 66,
        "wires": [
            [
                "2133d856179a3f5c",
                "6cde74f1baa26870"
            ]
        ]
    },
    {
        "id": "cfe1f61f601718f5",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "bb82d0898dcd010a",
        "name": "Corredor Lateral",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor7/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 771,
        "y": 499,
        "wires": [
            [
                "d2ad60ae78d324f6"
            ]
        ]
    },
    {
        "id": "fdc26f2c35d1e52a",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "635bfeb81ea84cbe",
        "name": "Luz do Quarto 3",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 771,
        "y": 363,
        "wires": [
            [
                "5735bdefcc115b24"
            ]
        ]
    },
    {
        "id": "11eed79ffb2c1609",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "651c0c5f34d29726",
        "name": "Luz do Quarto 2",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "5f0892c593e3ff4d"
            ]
        ]
    },
    {
        "id": "926ce02b523ede78",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "651c0c5f34d29726",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 1187.9999923706055,
        "y": 188.99998092651367,
        "wires": []
    },
    {
        "id": "4e7c74bdaaafc0f9",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "651c0c5f34d29726",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 1188.9999923706055,
        "y": 236.99997901916504,
        "wires": []
    },
    {
        "id": "5f92a707f9b1b49e",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "635bfeb81ea84cbe",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 1191,
        "y": 333,
        "wires": []
    },
    {
        "id": "26949243f4383767",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "635bfeb81ea84cbe",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 1190.9999923706055,
        "y": 377.99999237060547,
        "wires": []
    },
    {
        "id": "981d2c84a3f4255e",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "bb82d0898dcd010a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 1194.9999923706055,
        "y": 474.99999046325684,
        "wires": []
    },
    {
        "id": "9ee4a511bf4846d2",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "bb82d0898dcd010a",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor7/Estado",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 1195,
        "y": 523,
        "wires": []
    },
    {
        "id": "c647f83227a6b3bb",
        "type": "mqtt in",
        "z": "f9f0ac7f99118331",
        "g": "5deec3e0f6de479f",
        "name": "Desligar Tudo",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Ligar-DesligarTudo/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f257e850b1b1272",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 762,
        "y": 649,
        "wires": [
            [
                "d19f1755f85314ea"
            ]
        ]
    },
    {
        "id": "a9c178e310fa058a",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "5deec3e0f6de479f",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Ligar-DesligarTudo/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 1196.9999923706055,
        "y": 620.0000171661377,
        "wires": []
    },
    {
        "id": "cb1ee2235ef6bf62",
        "type": "mqtt out",
        "z": "f9f0ac7f99118331",
        "g": "5deec3e0f6de479f",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Ligar-DesligarTudo/Estado",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 1195.9999923706055,
        "y": 668.0000152587891,
        "wires": []
    },
    {
        "id": "6cde74f1baa26870",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "9533c41a248d3709",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Quarto 1",
        "order": 1,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"alternar\">\n        <div class=\"title_animado_1\">Rodrigo</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-active': value === 1, 'icon-spin': value === 1 }\">\n            mdi-lightbulb\n        </v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado', (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n        },\n        methods: {\n            alternar() {\n                if (this.value === 1) {\n                    this.off_alternar();\n                } else {\n                    this.on_alternar();\n                }\n            },\n            on_alternar() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px #00f708';\n                this.value = 1;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando', payload: 1 });\n            },\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando', payload: 0 });\n            },\n            on() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px ##00f708';\n                this.value = 1;\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        },\n        watch: {\n            msg: function() {\n                if (this.msg.payload === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }                        \n            }\n        }\n    }\n</script>\n\n<style>\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: auto;\n        height: 300px !important;\n        width: 300px !important;\n        background-color: #4F4F4F;\n        color: #ff0000;\n        border: 2px solid transparent;\n        font-size: 14px;\n        border-radius: 18px;\n        position: relative;\n        z-index: 1;\n        overflow: hidden;\n    }\n\n    .button_animado_1::before {\n        content: \"\";\n        position: absolute;\n        top: -2px;\n        left: -2px;\n        right: -2px;\n        bottom: -2px;\n        background: linear-gradient(270deg, #ff8c009a, #FFD700, #ff8c009a);\n        background-size: 200% 200%;\n        border-radius: 18px;\n        z-index: -1;\n        animation: borderAnimation 4s ease infinite;\n    }\n\n    @keyframes borderAnimation {\n        0% {\n            background-position: 0% 50%;\n        }\n\n        100% {\n            background-position: 200% 50%;\n        }\n    }\n\n    .title_animado_1 {\n        font-size: 75%;\n    }\n\n    .icon_animado_1 {\n        font-size: 300%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 46,
        "wires": [
            [
                "738aba37eab10fd0",
                "10075d8cc3dab9b6",
                "2133d856179a3f5c"
            ]
        ]
    },
    {
        "id": "844e492f6ebafb44",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "564eca91cc690ad0",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Bancada",
        "order": 2,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"alternar\">\n        <div class=\"title_animado_1\">Bancada</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-active': value === 1, 'icon-spin': value === 1 }\">\n            mdi-lightbulb</v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado', (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n        },\n        methods: {\n            alternar() {\n                if (this.value === 1) {\n                    this.off_alternar();\n                } else {\n                    this.on_alternar();\n                }\n            },\n            on_alternar() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px #00f708';\n                this.value = 1;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando', payload: 1 });\n            },\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando', payload: 0 });\n            },\n            on() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px ##00f708';\n                this.value = 1;\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        },\n        watch: {\n            msg: function() {\n                if (this.msg.payload === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }                        \n            }\n        }\n    }\n</script>\n\n<style>\n    .dialog_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        background-color: #A9A9A9;\n        border: 1px solid #ffee00;\n        border-radius: 18px;\n        height: 150px;\n        width: 300px;\n    }\n\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        height: 70px !important;\n        width: 70px !important;\n        background-color: #4F4F4F;\n        color: #ffee00;\n        border: 1px solid #000000;\n        font-size: 14px;\n        border-radius: 18px;\n    }\n\n    .title_animado_1 {\n        font-size: 75%;\n    }\n\n    .icon_animado_1 {\n        font-size: 300%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 338,
        "y": 190,
        "wires": [
            [
                "dbbfdf39c6f90e14",
                "105e43cb73f7dee4",
                "aa17d3119a8aa880"
            ]
        ]
    },
    {
        "id": "2f2a51db795f79cf",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "d117c1cbe32fcf7f",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Cooler",
        "order": 3,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"alternar\">\n        <div class=\"title_animado_1\">Cooler</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-active': value === 1, 'icon-spin': value === 1 }\">\n            mdi-lightbulb</v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado', (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n        },\n        methods: {\n            alternar() {\n                if (this.value === 1) {\n                    this.off_alternar();\n                } else {\n                    this.on_alternar();\n                }\n            },\n            on_alternar() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px #00f708';\n                this.value = 1;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando', payload: 1 });\n            },\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando', payload: 0 });\n            },\n            on() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px ##00f708';\n                this.value = 1;\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        },\n        watch: {\n            msg: function() {\n                if (this.msg.payload === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }                        \n            }\n        }\n    }\n</script>\n\n<style>\n    .dialog_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        background-color: #A9A9A9;\n        border: 1px solid #ffee00;\n        border-radius: 18px;\n        height: 150px;\n        width: 300px;\n    }\n\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        height: 70px !important;\n        width: 70px !important;\n        background-color: #4F4F4F;\n        color: #ffee00;\n        border: 1px solid #000000;\n        font-size: 14px;\n        border-radius: 18px;\n    }\n\n    .title_animado_1 {\n        font-size: 75%;\n    }\n\n    .icon_animado_1 {\n        font-size: 300%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 341,
        "y": 332,
        "wires": [
            [
                "b6bdb07c6c9afc28",
                "9d74375ca91d9d4c",
                "6f30257579b3b6c2"
            ]
        ]
    },
    {
        "id": "a46f3b2f636657e5",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "2de24dd6841d2139",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Varanda",
        "order": 4,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"alternar\">\n        <div class=\"title_animado_1\">Varanda</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-active': value === 1, 'icon-spin': value === 1 }\">\n            mdi-lightbulb</v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado', (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n        },\n        methods: {\n            alternar() {\n                if (this.value === 1) {\n                    this.off_alternar();\n                } else {\n                    this.on_alternar();\n                }\n            },\n            on_alternar() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px #00f708';\n                this.value = 1;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando', payload: 1 });\n            },\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando', payload: 0 });\n            },\n            on() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px ##00f708';\n                this.value = 1;\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        },\n        watch: {\n            msg: function() {\n                if (this.msg.payload === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }                        \n            }\n        }\n    }\n</script>\n\n<style>\n    .dialog_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        background-color: #A9A9A9;\n        border: 1px solid #ffee00;\n        border-radius: 18px;\n        height: 150px;\n        width: 300px;\n    }\n\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        height: 70px !important;\n        width: 70px !important;\n        background-color: #4F4F4F;\n        color: #ffee00;\n        border: 1px solid #000000;\n        font-size: 14px;\n        border-radius: 18px;\n    }\n\n    .title_animado_1 {\n        font-size: 75%;\n    }\n\n    .icon_animado_1 {\n        font-size: 300%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 331,
        "y": 474,
        "wires": [
            [
                "519a8211a4071e09",
                "d40fde2afe121589",
                "4bfc5b506142f2d5"
            ]
        ]
    },
    {
        "id": "f2930181ab5d7d43",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "bd62f9f9fa60a573",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Bluetooth",
        "order": 5,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"alternar\">\n        <div class=\"title_animado_1\">Bluetooth</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-active': value === 1, 'icon-spin': value === 1 }\">\n            mdi-lightbulb</v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado', (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n        },\n        methods: {\n            alternar() {\n                if (this.value === 1) {\n                    this.off_alternar();\n                } else {\n                    this.on_alternar();\n                }\n            },\n            on_alternar() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px #00f708';\n                this.value = 1;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor6/Comando', payload: 1 });\n            },\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor6/Comando', payload: 0 });\n            },\n            on() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px ##00f708';\n                this.value = 1;\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        },\n        watch: {\n            msg: function() {\n                if (this.msg.payload === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }                        \n            }\n        }\n    }\n</script>\n\n<style>\n    .dialog_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        background-color: #A9A9A9;\n        border: 1px solid #ffee00;\n        border-radius: 18px;\n        height: 150px;\n        width: 300px;\n    }\n\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        height: 70px !important;\n        width: 70px !important;\n        background-color: #4F4F4F;\n        color: #ffee00;\n        border: 1px solid #000000;\n        font-size: 14px;\n        border-radius: 18px;\n    }\n\n    .title_animado_1 {\n        font-size: 75%;\n    }\n\n    .icon_animado_1 {\n        font-size: 300%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 331,
        "y": 619,
        "wires": [
            [
                "97118961b076e5fc",
                "0cc28845966e046e",
                "a563d49e01e21aa0"
            ]
        ]
    },
    {
        "id": "5f0892c593e3ff4d",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "651c0c5f34d29726",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Quarto 2",
        "order": 6,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"alternar\">\n        <div class=\"title_animado_1\">Robson</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-active': value === 1, 'icon-spin': value === 1 }\">\n            mdi-lightbulb</v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado', (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n        },\n        methods: {\n            alternar() {\n                if (this.value === 1) {\n                    this.off_alternar();\n                } else {\n                    this.on_alternar();\n                }\n            },\n            on_alternar() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px #00f708';\n                this.value = 1;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando', payload: 1 });\n            },\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando', payload: 0 });\n            },\n            on() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px ##00f708';\n                this.value = 1;\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        },\n        watch: {\n            msg: function() {\n                if (this.msg.payload === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }                        \n            }\n        }\n    }\n</script>\n\n<style>\n    .dialog_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        background-color: #A9A9A9;\n        border: 1px solid #ffee00;\n        border-radius: 18px;\n        height: 150px;\n        width: 300px;\n    }\n\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        height: 70px !important;\n        width: 70px !important;\n        background-color: #4F4F4F;\n        color: #ffee00;\n        border: 1px solid #000000;\n        font-size: 14px;\n        border-radius: 18px;\n    }\n\n    .title_animado_1 {\n        font-size: 75%;\n    }\n\n    .icon_animado_1 {\n        font-size: 300%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 974,
        "y": 220,
        "wires": [
            [
                "926ce02b523ede78",
                "4e7c74bdaaafc0f9"
            ]
        ]
    },
    {
        "id": "5735bdefcc115b24",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "635bfeb81ea84cbe",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Quarto 3",
        "order": 7,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"alternar\">\n        <div class=\"title_animado_1\">Val</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-active': value === 1, 'icon-spin': value === 1 }\">\n            mdi-lightbulb</v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado', (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n        },\n        methods: {\n            alternar() {\n                if (this.value === 1) {\n                    this.off_alternar();\n                } else {\n                    this.on_alternar();\n                }\n            },\n            on_alternar() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px #00f708';\n                this.value = 1;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando', payload: 1 });\n            },\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando', payload: 0 });\n            },\n            on() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px ##00f708';\n                this.value = 1;\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        },\n        watch: {\n            msg: function() {\n                if (this.msg.payload === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }                        \n            }\n        }\n    }\n</script>\n\n<style>\n    .dialog_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        background-color: #A9A9A9;\n        border: 1px solid #ffee00;\n        border-radius: 18px;\n        height: 150px;\n        width: 300px;\n    }\n\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        height: 70px !important;\n        width: 70px !important;\n        background-color: #4F4F4F;\n        color: #ff0000;\n        border: 1px solid #000000;\n        font-size: 14px;\n        border-radius: 18px;\n    }\n\n    .title_animado_1 {\n        font-size: 75%;\n    }\n\n    .icon_animado_1 {\n        font-size: 300%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 975,
        "y": 363,
        "wires": [
            [
                "5f92a707f9b1b49e",
                "26949243f4383767"
            ]
        ]
    },
    {
        "id": "d2ad60ae78d324f6",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "bb82d0898dcd010a",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Corredor",
        "order": 8,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"alternar\">\n        <div class=\"title_animado_1\">Corredor</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-active': value === 1, 'icon-spin': value === 1 }\">\n            mdi-lightbulb</v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Interruptor7/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Interruptor7/Estado', (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                if (this.value === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }\n            });\n        },\n        methods: {\n            alternar() {\n                if (this.value === 1) {\n                    this.off_alternar();\n                } else {\n                    this.on_alternar();\n                }\n            },\n            on_alternar() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px #00f708';\n                this.value = 1;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando', payload: 1 });\n            },\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando', payload: 0 });\n            },\n            on() {\n                this.$refs.icon.$el.style.color = '#00f708';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 10px ##00f708';\n                this.value = 1;\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        },\n        watch: {\n            msg: function() {\n                if (this.msg.payload === 1) {\n                    this.on();\n                } else {\n                    this.off();\n                }                        \n            }\n        }\n    }\n</script>\n\n<style>\n    .dialog_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        background-color: #A9A9A9;\n        border: 1px solid #ffee00;\n        border-radius: 18px;\n        height: 150px;\n        width: 300px;\n    }\n\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        height: 70px !important;\n        width: 70px !important;\n        background-color: #4F4F4F;\n        color: #ffee00;\n        border: 1px solid #000000;\n        font-size: 14px;\n        border-radius: 18px;\n    }\n\n    .title_animado_1 {\n        font-size: 75%;\n    }\n\n    .icon_animado_1 {\n        font-size: 300%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 967,
        "y": 499,
        "wires": [
            [
                "981d2c84a3f4255e",
                "9ee4a511bf4846d2"
            ]
        ]
    },
    {
        "id": "d19f1755f85314ea",
        "type": "ui-template",
        "z": "f9f0ac7f99118331",
        "g": "5deec3e0f6de479f",
        "group": "6dddaf2e8aac5701",
        "page": "",
        "ui": "",
        "name": "Emergência",
        "order": 9,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-btn class=\"button_animado_1\" stacked @click=\"off_alternar\">\n        <div class=\"title_animado_1\">Emergência</div>\n        <v-icon class=\"icon_animado_1\" ref=\"icon\" :class=\"{ 'icon-spin': value === 0 }\">\n            mdi-lightbulb-outline</v-icon>\n    </v-btn>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                value: null,\n                dialog: false,\n                senha: ''\n            };\n        },\n        mounted() {\n            // Subscrição para receber o estado atual do relé\n            this.$socket.subscribe('ESP32/MinhaCasa/QuartoRobson/Ligar-DesligarTudo/Estado');\n            this.$socket.on('ESP32/MinhaCasa/QuartoRobson/Ligar-DesligarTudo/Estado', (msg) => {\n                this.value = msg.payload;\n                this.off(); // Sempre chama off() para manter o estado em 0\n            });\n\n            // Código para carregar o estado inicial do widget\n            this.$socket.on('widget-load:' + this.id, (msg) => {\n                this.value = msg.payload;\n                this.off(); // Sempre chama off() para manter o estado em 0\n            });\n        },\n        methods: {\n            off_alternar() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n                this.send({ topic: 'ESP32/MinhaCasa/QuartoRobson/Ligar-DesligarTudo/Comando', payload: 0 });\n            },\n            off() {\n                this.$refs.icon.$el.style.color = '#f70000';\n                this.$refs.icon.$el.style.textShadow = '0px 0px 0px';\n                this.value = 0;\n            }\n        }\n    }\n</script>\n\n<style>\n    .dialog_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        background-color: #A9A9A9;\n        border: 1px solid #ffee00;\n        border-radius: 18px;\n        height: 150px;\n        width: 300px;\n    }\n\n    .button_animado_1 {\n        display: flex;\n        flex-direction: column;\n        margin: animado_1;\n        height: 70px !important;\n        width: 70px !important;\n        background-color: #4F4F4F;\n        color: #ff0000;\n        border: 1px solid #000000;\n        font-size: 14px;\n        border-radius: 18px;\n    }\n\n    .title_animado_1 {\n        font-size: 90%;\n    }\n\n    .icon_animado_1 {\n        font-size: 355%;\n    }\n\n    .icon-spin {\n        animation: spin 2s linear infinite;\n    }\n\n    @keyframes spin {\n        0% {\n            transform: rotate(0deg);\n        }\n\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 982,
        "y": 649,
        "wires": [
            [
                "a9c178e310fa058a",
                "cb1ee2235ef6bf62"
            ]
        ]
    },
    {
        "id": "2133d856179a3f5c",
        "type": "noraf-light",
        "z": "f9f0ac7f99118331",
        "g": "9533c41a248d3709",
        "devicename": "Lâmpada do Quarto 1",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada do Quarto 1",
        "name": "Lâmpada do Quarto 1",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 690,
        "y": 86,
        "wires": [
            [
                "738aba37eab10fd0",
                "10075d8cc3dab9b6",
                "6cde74f1baa26870"
            ]
        ],
        "inputLabels": [
            "Ligado"
        ]
    },
    {
        "id": "aa17d3119a8aa880",
        "type": "noraf-light",
        "z": "f9f0ac7f99118331",
        "g": "564eca91cc690ad0",
        "devicename": "Lâmpada da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada",
        "name": "Lâmpada da Bancada",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 338,
        "y": 230,
        "wires": [
            [
                "dbbfdf39c6f90e14",
                "105e43cb73f7dee4",
                "844e492f6ebafb44"
            ]
        ]
    },
    {
        "id": "a563d49e01e21aa0",
        "type": "noraf-light",
        "z": "f9f0ac7f99118331",
        "g": "bd62f9f9fa60a573",
        "devicename": "Som Bluetooth",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Som Bluetooth",
        "name": "Som Bluetooth",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 331,
        "y": 659,
        "wires": [
            [
                "97118961b076e5fc",
                "0cc28845966e046e",
                "f2930181ab5d7d43"
            ]
        ]
    },
    {
        "id": "6f30257579b3b6c2",
        "type": "noraf-light",
        "z": "f9f0ac7f99118331",
        "g": "d117c1cbe32fcf7f",
        "devicename": "Cooler do Notebook",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": false,
        "brightnessoverride": "",
        "roomhint": "Cooler do Notebook",
        "name": "Cooler do Notebook",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 331,
        "y": 372,
        "wires": [
            [
                "b6bdb07c6c9afc28",
                "9d74375ca91d9d4c",
                "2f2a51db795f79cf"
            ]
        ]
    },
    {
        "id": "4bfc5b506142f2d5",
        "type": "noraf-light",
        "z": "f9f0ac7f99118331",
        "g": "2de24dd6841d2139",
        "devicename": "Lâmpada da Varanda",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Varanda",
        "name": "Lâmpada da Varanda",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 323,
        "y": 514,
        "wires": [
            [
                "519a8211a4071e09",
                "d40fde2afe121589",
                "a46f3b2f636657e5"
            ]
        ]
    },
    {
        "id": "50e87bc063fa7b13",
        "type": "aedes broker",
        "z": "f9f0ac7f99118331",
        "g": "789d5bb3d86fe585",
        "name": "MQTT",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 655.7373046875,
        "y": 755.7442016601562,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0f257e850b1b1272",
        "type": "mqtt-broker",
        "name": "MQTT Home Assistant",
        "broker": "192.168.134.149",
        "port": "1883",
        "clientid": "Node-Red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6dddaf2e8aac5701",
        "type": "ui-group",
        "name": "Automação Residêncial",
        "page": "63b4fc1c1e61cbe0",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bf2335351d119ded",
        "type": "noraf-config",
        "name": "Nora",
        "group": "Casa",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Robson's House",
        "storeStateInContext": true,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "63b4fc1c1e61cbe0",
        "type": "ui-page",
        "name": "Automação Residêncial",
        "ui": "c4aa02a2614fb60c",
        "path": "/painel",
        "icon": "home",
        "layout": "grid",
        "theme": "ae0b1c08b294a8a0",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "c4aa02a2614fb60c",
        "type": "ui-base",
        "name": "Automação Residêncial",
        "path": "/dashboard",
        "includeClientData": false,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": true,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "fixed"
    },
    {
        "id": "ae0b1c08b294a8a0",
        "type": "ui-theme",
        "name": "Meu Tema",
        "colors": {
            "surface": "#ffffff",
            "primary": "#ff0000",
            "bgPage": "#000000",
            "groupBg": "#000000",
            "groupOutline": "#ffffff"
        },
        "sizes": {
            "pagePadding": "20px",
            "groupGap": "16px",
            "groupBorderRadius": "6px",
            "widgetGap": "10px"
        }
    }
]