ESP32-GoogleAssistant-Alexa-MQTT-NodeRed-HomeAssistant/Alexa.json
[{"id":"6f522822db0dfdf1","type":"tab","label":"Alexa","disabled":false,"info":"","env":[]},{"id":"0b331d97bdcab291","type":"alexa-remote-event","z":"6f522822db0dfdf1","name":"Robson Brasil","account":"0d86e710cff20653","event":"ws-device-activity","x":80,"y":45,"wires":[[]]},{"id":"119cfd0822d280ef","type":"alexa-remote-smarthome","z":"6f522822db0dfdf1","name":"Ligar Som Bluetooth","account":"0d86e710cff20653","config":{"option":"action","value":[{"entity":"5361e886-b0b9-4b67-a0ed-7cd86271a220","action":"turnOn"}]},"outputs":1,"x":415,"y":645,"wires":[["05d01893409a9b21"]]},{"id":"d5e25ff27907cda4","type":"alexa-remote-smarthome","z":"6f522822db0dfdf1","name":"Ligar Cooler","account":"0d86e710cff20653","config":{"option":"action","value":[{"entity":"c9318c01-c28b-401d-aa7c-4394f76e437c","action":"turnOn"}]},"outputs":1,"x":370,"y":135,"wires":[["21ab66b124267563"]]},{"id":"33415c96253cc331","type":"alexa-remote-smarthome","z":"6f522822db0dfdf1","name":"Ligar Interruptor 8","account":"0d86e710cff20653","config":{"option":"action","value":[{"entity":"75c234ea-8347-4b77-89fe-6708ac00051d","action":"turnOn"}]},"outputs":1,"x":480,"y":225,"wires":[[]]},{"id":"59c6bd7177faa3cd","type":"inject","z":"6f522822db0dfdf1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":105,"y":135,"wires":[["d5e25ff27907cda4"]]},{"id":"5b8a8334ea2b37cf","type":"inject","z":"6f522822db0dfdf1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":525,"wires":[["c12920e6704b70e8"]]},{"id":"c12920e6704b70e8","type":"alexa-remote-routine","z":"6f522822db0dfdf1","name":"","account":"0d86e710cff20653","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":""},"devices":["84fa5a9b20874df59160027029b782e0"]}},"x":380,"y":525,"wires":[[]]},{"id":"c4a0b6ddaa76234c","type":"inject","z":"6f522822db0dfdf1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":645,"wires":[["119cfd0822d280ef"]]},{"id":"05d01893409a9b21","type":"debug","z":"6f522822db0dfdf1","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":675,"y":675,"wires":[]},{"id":"adbb5ad1dd55c86c","type":"alexa-remote-smarthome","z":"6f522822db0dfdf1","name":"Ligar Som Bluetooth","account":"0d86e710cff20653","config":{"option":"action","value":[{"entity":"5361e886-b0b9-4b67-a0ed-7cd86271a220","action":"turnOff"}]},"outputs":1,"x":410,"y":720,"wires":[["05d01893409a9b21"]]},{"id":"7bd8e82e086b9b49","type":"inject","z":"6f522822db0dfdf1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":720,"wires":[["adbb5ad1dd55c86c"]]},{"id":"21ab66b124267563","type":"debug","z":"6f522822db0dfdf1","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":135,"wires":[]},{"id":"0d86e710cff20653","type":"alexa-remote-account","name":"Alexa","authMethod":"proxy","proxyOwnIp":"192.168.15.2","proxyPort":"3456","cookieFile":"/config/senha","refreshInterval":"1","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com.br","acceptLanguage":"pt-BR","onKeywordInLanguage":"on","userAgent":"","useWsMqtt":"on","autoInit":"on"}]