ESP32-GoogleAssistant-Alexa-MQTT-NodeRed-HomeAssistant/Sensor PIR.json
[{"id":"0c22ad911f35fe8a","type":"subflow","name":"Movimentos","info":"","category":"","in":[],"out":[{"x":605,"y":180,"wires":[{"id":"305483a865d53e41","port":0},{"id":"305483a865d53e41","port":1}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-blind"},{"id":"305483a865d53e41","type":"server-state-changed","z":"0c22ad911f35fe8a","name":"Sensor de Movimento","server":"a53859d772907d52","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sensor_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":275,"y":180,"wires":[[],[]]},{"id":"e2f2771ba0b293f6","type":"tab","label":"Sensor de Movimento","disabled":false,"info":"","env":[]},{"id":"adf9d161333c2981","type":"server-state-changed","z":"e2f2771ba0b293f6","name":"Tem Movimento?","server":"a53859d772907d52","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sensor_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":885,"wires":[[],[]]},{"id":"0aac7a59a576f126","type":"subflow:0c22ad911f35fe8a","z":"e2f2771ba0b293f6","name":"","x":200,"y":90,"wires":[[]]},{"id":"5edc734ec04a057b","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Relé de Teste 5","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.interruptor_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":45,"wires":[[]]},{"id":"ecf20bd1e6d2e2dc","type":"switch","z":"e2f2771ba0b293f6","name":"Se","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":90,"wires":[["5edc734ec04a057b"],["8bea76d6845eec4c"]]},{"id":"8bea76d6845eec4c","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Relé de Teste 5","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.interruptor_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":135,"wires":[[]]},{"id":"bf0714ace828cb3f","type":"subflow:0c22ad911f35fe8a","z":"e2f2771ba0b293f6","name":"Tem Movimento?","x":100,"y":480,"wires":[["bc95c9745ae33002"]]},{"id":"bc95c9745ae33002","type":"time-range-switch","z":"e2f2771ba0b293f6","name":"","lat":"","lon":"","startTime":"18:00","endTime":"06:00","startOffset":"","endOffset":0,"x":355,"y":480,"wires":[["0f139db6770ea51f"],[]]},{"id":"0f139db6770ea51f","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Interruptor Ligado?","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.interruptor_5","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":360,"wires":[["990a1b193c75bde7"],["f9f4cc0c4ff0f57c"]]},{"id":"f9f4cc0c4ff0f57c","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Liga o interruptor!","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.interruptor_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":450,"wires":[[]]},{"id":"39f397b2fbc00557","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Notebbok está desligado?","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.lastactive","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":635,"y":615,"wires":[[],["c89b45db67d1a026"]]},{"id":"c89b45db67d1a026","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Desliga o interruptor!","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.interruptor_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":985,"y":540,"wires":[[]]},{"id":"debd29c526605deb","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Notebbok está desligado?","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.lastactive","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":395,"y":855,"wires":[["0e1ca838dcaf04eb"],[]]},{"id":"c735a4811a033b7b","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Interruptor On","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.interruptor_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":855,"wires":[[]]},{"id":"1666b341efd8835d","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Notebbok está desligado?","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.lastactive","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":395,"y":930,"wires":[["61ec5f1d63d1b38e"],[]]},{"id":"8b4e657e39fb11eb","type":"api-call-service","z":"e2f2771ba0b293f6","name":"Interruptor Off","server":"a53859d772907d52","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.interruptor_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":930,"wires":[[]]},{"id":"61ec5f1d63d1b38e","type":"trigger","z":"e2f2771ba0b293f6","name":"","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":670,"y":960,"wires":[["16f38fe68c0f1d21"]]},{"id":"16f38fe68c0f1d21","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Tem Movimento?","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.sensor_pir","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":855,"y":1095,"wires":[["61ec5f1d63d1b38e"],["8b4e657e39fb11eb"]]},{"id":"0e1ca838dcaf04eb","type":"time-range-switch","z":"e2f2771ba0b293f6","name":"","lat":"","lon":"","startTime":"18:00","endTime":"06:00","startOffset":"","endOffset":0,"x":665,"y":825,"wires":[["c735a4811a033b7b"],[]]},{"id":"990a1b193c75bde7","type":"trigger","z":"e2f2771ba0b293f6","name":"","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1060,"y":315,"wires":[["d046748614311d98"]]},{"id":"d046748614311d98","type":"api-current-state","z":"e2f2771ba0b293f6","name":"Checa se o Sensor está OFF!","server":"a53859d772907d52","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.sensor_pir","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":525,"wires":[["990a1b193c75bde7"],["39f397b2fbc00557"]]},{"id":"6977bf1d2ec0cb64","type":"subflow:0c22ad911f35fe8a","z":"e2f2771ba0b293f6","name":"Tem Movimento?","x":620,"y":435,"wires":[[]]},{"id":"20345d031dde8803","type":"bigtimer","z":"e2f2771ba0b293f6","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":270,"y":315,"wires":[[],[],[]]},{"id":"a53859d772907d52","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]