ESP32-GoogleAssistant-Alexa-MQTT-NodeRed-HomeAssistant/Node-Red Flows/Interruptores.json
[
    {
        "id": "cdd71bb10907d967",
        "type": "tab",
        "label": "Interruptores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65bd7cd9c7a0f8df",
        "type": "mqtt out",
        "z": "cdd71bb10907d967",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "7326824d600bfbc1",
        "type": "mqtt out",
        "z": "cdd71bb10907d967",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "486f3ea8979e6c0b",
        "type": "mqtt out",
        "z": "cdd71bb10907d967",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 520,
        "wires": []
    },
    {
        "id": "73115187dc99e3ea",
        "type": "debug",
        "z": "cdd71bb10907d967",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "236a3c8d6dc19f41",
        "type": "mqtt out",
        "z": "cdd71bb10907d967",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec95c0bd3d97fb89",
        "type": "mqtt out",
        "z": "cdd71bb10907d967",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "ade65d833efb42d9",
        "type": "mqtt out",
        "z": "cdd71bb10907d967",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "610a8454c54b1a66",
        "type": "mqtt out",
        "z": "cdd71bb10907d967",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "2b8dd13dd6028ab2",
        "type": "mqtt out",
        "z": "cdd71bb10907d967",
        "name": "Envia ao Broker",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f257e850b1b1272",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "4c2276eeb1420dcb",
        "type": "ui_switch",
        "z": "cdd71bb10907d967",
        "name": "interruptor 6",
        "label": "Interruptor 6",
        "tooltip": "",
        "group": "8ce3d9b036e27527",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "65bd7cd9c7a0f8df",
                "73115187dc99e3ea"
            ]
        ]
    },
    {
        "id": "1e554fab9352f0d8",
        "type": "ui_switch",
        "z": "cdd71bb10907d967",
        "name": "Interruptor 7",
        "label": "Interruptor 7",
        "tooltip": "",
        "group": "8ce3d9b036e27527",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor7/Estado",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 70,
        "y": 480,
        "wires": [
            [
                "7326824d600bfbc1",
                "73115187dc99e3ea"
            ]
        ]
    },
    {
        "id": "c1b5ff30dbfa6cae",
        "type": "ui_switch",
        "z": "cdd71bb10907d967",
        "name": "Interruptor 8",
        "label": "Interruptor 8",
        "tooltip": "",
        "group": "8ce3d9b036e27527",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 70,
        "y": 560,
        "wires": [
            [
                "486f3ea8979e6c0b",
                "73115187dc99e3ea"
            ]
        ]
    },
    {
        "id": "997a0904eda1a8fc",
        "type": "ui_switch",
        "z": "cdd71bb10907d967",
        "name": "",
        "label": "Lâmpada da Bancada Fraca",
        "tooltip": "",
        "group": "8ce3d9b036e27527",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "236a3c8d6dc19f41",
                "73115187dc99e3ea"
            ]
        ]
    },
    {
        "id": "91b5a2cb55b54d08",
        "type": "ui_switch",
        "z": "cdd71bb10907d967",
        "name": "Interruptor 3",
        "label": "Interruptor 3",
        "tooltip": "",
        "group": "8ce3d9b036e27527",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "ec95c0bd3d97fb89",
                "73115187dc99e3ea"
            ]
        ]
    },
    {
        "id": "6bb6e61bcf656346",
        "type": "ui_switch",
        "z": "cdd71bb10907d967",
        "name": "Interruptor 4",
        "label": "Interruptor 4",
        "tooltip": "",
        "group": "8ce3d9b036e27527",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "ade65d833efb42d9",
                "73115187dc99e3ea"
            ]
        ]
    },
    {
        "id": "93b53f2266eebe6c",
        "type": "ui_switch",
        "z": "cdd71bb10907d967",
        "name": "Interruptor 5",
        "label": "Interruptor 5",
        "tooltip": "",
        "group": "8ce3d9b036e27527",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligao",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "2b8dd13dd6028ab2",
                "73115187dc99e3ea"
            ]
        ]
    },
    {
        "id": "c4d2c16fd13a9478",
        "type": "ui_switch",
        "z": "cdd71bb10907d967",
        "name": "",
        "label": "Lâmpada da Bancada Forte",
        "tooltip": "",
        "group": "8ce3d9b036e27527",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "#FFAAAA",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 20,
        "wires": [
            [
                "73115187dc99e3ea",
                "610a8454c54b1a66"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "f54bb6601b801541",
        "type": "ui_spacer",
        "z": "cdd71bb10907d967",
        "name": "spacer",
        "group": "5342338ddff81d3c",
        "order": 2,
        "width": "6",
        "height": "3"
    },
    {
        "id": "022a79453301ddf0",
        "type": "ui_spacer",
        "z": "cdd71bb10907d967",
        "name": "spacer",
        "group": "9089c28c0ce879aa",
        "order": 3,
        "width": "1",
        "height": "1"
    },
    {
        "id": "0f257e850b1b1272",
        "type": "mqtt-broker",
        "name": "MQTT Home Assistant",
        "broker": "192.168.15.40",
        "port": "1883",
        "clientid": "Node-Red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ce3d9b036e27527",
        "type": "ui_group",
        "name": "Interruptores",
        "tab": "e9f688342e59d92a",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e9f688342e59d92a",
        "type": "ui_tab",
        "name": "Meu Qaurto",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]