ESP32-GoogleAssistant-Alexa-MQTT-NodeRed-HomeAssistant/Node-Red Flows/Interruptores.json
[{"id":"992895baa1b72685","type":"tab","label":"Interruptores","disabled":false,"info":"","env":[]},{"id":"df85eba5e6cff97f","type":"mqtt out","z":"992895baa1b72685","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor6/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":1105,"y":465,"wires":[]},{"id":"8eceb362c651cae7","type":"mqtt out","z":"992895baa1b72685","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor7/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":1105,"y":525,"wires":[]},{"id":"69a7ee17c190cb4f","type":"mqtt out","z":"992895baa1b72685","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor8/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":1105,"y":585,"wires":[]},{"id":"b5de2f667e990905","type":"ui_switch","z":"992895baa1b72685","name":"interruptor 6","label":"Interruptor 6","tooltip":"","group":"4614960837bd6a0b","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor6/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":395,"y":465,"wires":[["df85eba5e6cff97f","71b1bffac98bb18c"]]},{"id":"96d0db3e64ae4df6","type":"ui_switch","z":"992895baa1b72685","name":"Interruptor 7","label":"Interruptor 7","tooltip":"","group":"4614960837bd6a0b","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor7/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":395,"y":525,"wires":[["8eceb362c651cae7","71b1bffac98bb18c"]]},{"id":"c1ce9ced43ba2197","type":"ui_switch","z":"992895baa1b72685","name":"Interruptor 8","label":"Interruptor 8","tooltip":"","group":"4614960837bd6a0b","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor8/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":395,"y":585,"wires":[["69a7ee17c190cb4f","71b1bffac98bb18c"]]},{"id":"71b1bffac98bb18c","type":"debug","z":"992895baa1b72685","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1465,"y":385,"wires":[]},{"id":"c1d620d62e465dc2","type":"mqtt out","z":"992895baa1b72685","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor2/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":1105,"y":225,"wires":[]},{"id":"482eb66815a8defb","type":"mqtt out","z":"992895baa1b72685","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor3/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":1105,"y":285,"wires":[]},{"id":"66fdaac18701110d","type":"mqtt out","z":"992895baa1b72685","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor4/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":1105,"y":345,"wires":[]},{"id":"a02bd03143e3a00c","type":"ui_switch","z":"992895baa1b72685","name":"","label":"Lâmpada da Bancada Fraca","tooltip":"","group":"7dd46ca98204d63f","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor2/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":445,"y":225,"wires":[["c1d620d62e465dc2","71b1bffac98bb18c"]]},{"id":"4cbc0922ff2afafd","type":"ui_switch","z":"992895baa1b72685","name":"Interruptor 3","label":"Interruptor 3","tooltip":"","group":"4614960837bd6a0b","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor3/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":395,"y":285,"wires":[["482eb66815a8defb","71b1bffac98bb18c"]]},{"id":"029ef3548add407b","type":"ui_switch","z":"992895baa1b72685","name":"Interruptor 4","label":"Interruptor 4","tooltip":"","group":"4614960837bd6a0b","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor4/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":395,"y":345,"wires":[["66fdaac18701110d","71b1bffac98bb18c"]]},{"id":"604d3be38e09a2a0","type":"mqtt out","z":"992895baa1b72685","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor1/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":1105,"y":165,"wires":[]},{"id":"4a5f6ea838c15e9c","type":"mqtt out","z":"992895baa1b72685","name":"Envia ao Broker","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor5/Comando","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f257e850b1b1272","x":1105,"y":405,"wires":[]},{"id":"8116924eba6cd1ba","type":"ui_switch","z":"992895baa1b72685","name":"Interruptor 5","label":"Interruptor 5","tooltip":"","group":"4614960837bd6a0b","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor5/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligao","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"","animate":true,"className":"","x":395,"y":405,"wires":[["4a5f6ea838c15e9c","71b1bffac98bb18c"]]},{"id":"779c02d7b4100bf8","type":"ui_switch","z":"992895baa1b72685","name":"","label":"Lâmpada da Bancada Forte","tooltip":"","group":"7dd46ca98204d63f","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"ESP32/MinhaCasa/QuartoRobson/Interruptor1/Estado","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"0","offvalueType":"num","officon":"Desligado","offcolor":"#FFAAAA","animate":true,"className":"","x":445,"y":165,"wires":[["71b1bffac98bb18c","604d3be38e09a2a0"]],"icon":"node-red/light.svg"},{"id":"0f257e850b1b1272","type":"mqtt-broker","name":"MQTT Home Assistant","broker":"192.168.15.40","port":"1883","clientid":"Node-Red","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4614960837bd6a0b","type":"ui_group","name":"Interruptores","tab":"2c8951a6487b6dac","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"7dd46ca98204d63f","type":"ui_group","name":"Lâmpadas da Bancada","tab":"2c8951a6487b6dac","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2c8951a6487b6dac","type":"ui_tab","name":"Meu Qaurto","icon":"dashboard","disabled":false,"hidden":false}]